table {
    width: 100%;
}

table td {
    width: 50%;
}

.post-setting h2 {
    padding: 10px 0 !important;
    /* margin: 10px 0; */
}

.post-setting .field-wrapper {
    padding-bottom: 15px;
}

.post-setting--post-support .field-wrapper label {
    display: inline-block;
    width: 10%;
}
